{% extends "core/base.html" %}
{% block content %}
<div class="container mt-5">
    <h1  class="text-warning mb-5 border-bottom">SKILLS</h1>
    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-t">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-t">JAVASCRIPT</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">10%</div>
            </div>
        </div>

        {% comment %} row 2 {% endcomment %}
         <div class="col-sm-5">
            <h3 class="mt-t">PYTHON</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-t">C</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="70">10%</div>
            </div>
        </div>

        {% comment %} row 3 {% endcomment %}
         <div class="col-sm-5">
            <h3 class="mt-t">C++</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-t">DJANGO</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="40%">10%</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}